api-tts/Model/*
train-tts/monotonic_align/monotonic_align
/.vs/vits/FileContentIndex


DUMMY1
DUMMY2
DUMMY3
logs
__pycache__
.ipynb_checkpoints
.*.swp

build
*.c
train-tts/monotonic_align/monotonic_align
train-tts/configs/dracu_japanese_base2.json
train-tts/configs/tolove_japanese_base2.json